p {
    margin:0;
}

html {
    font-family: "harri-text", sans-serif;
    font-weight:400;
    text-align: left;
    margin-left: 5rem;
    font-size: 15pt;
}

h1 {
    font-family: "harri-text", sans-serif;
    font-weight: 700;
    font-style: normal;
    text-align: center;
    font-size: 50pt;
    margin-top: 1rem;
    margin-bottom: 0rem;
}

.section {
    font-weight: 600;
    font-size: 20pt;
    margin-top: 1rem;
    margin-bottom: 1rem;
}

.subsection {
    font-weight: 700;
    font-size: 15pt;
    margin-top: 1rem;
    margin-left: 0.5rem;
}

.container {
    background-color: rgb(254, 206, 132);
    margin-left: 0rem;
    margin-right: 4.4rem;
    margin-top: 1rem;
    border-radius: 0.5rem;
    padding-bottom: 10px;
    padding-top: 0.008px;
    padding-left: 3px;
    padding-right: 100px;
}

.instructions {
    margin-left: 2rem;
}

ol li::marker {
    font-weight: 800;
}

.list {
    margin-left: 2rem;
    margin-top: 1rem;
    margin-bottom: 1rem;
}
